{% trans_default_domain 'FOSUserBundle' %}

<div class=" container well">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="groupequipformulaire">
        <div class="row">
            <div class="form-group">
                {{ form_label(form, "username", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form, {'attr': {'class': 'form-control', 'placeholder': "Nom d'utilisateur"}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                {{ form_label(form, "email", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form, {'attr': {'class': 'form-control', 'placeholder': "Email"}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                {{ form_label(form, "password", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3">
            <div class="groupequipformulaire boutonEdit ">
                <input type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>