{% extends 'base.html.twig' %}

{% block contenu  %}
<div class="equipeDetail">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="col-lg-12 equipeDetailLogo">
                <img class="img-responsive" src="{{ asset( '/images/logos_equipes/' ~  equipe.logo) }}" alt="logo equipe {{ equipe.nomEquipe }}">
            </div>
            <div class="col-lg-12">
                <h3 class="thtable"> Référent de l'équipe :</h3>
                <ul>
                    <li><i class="fa fa-user" aria-hidden="true"></i>{{ equipe.nomReferent }} {{ equipe.prenomReferent }}</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>{{ equipe.telephoneReferent }}</li>
                    <li><a href="mailto:{{ equipe.emailReferent }}"><i class="fa fa-envelope" aria-hidden="true"></i>{{ equipe.emailReferent }}</a></li>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{ equipe.rue }} {{ equipe.cp }} {{ equipe.ville }}</li>
                    <li><a href="{{ equipe.sitewebequipe }}" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i>{{ equipe.sitewebequipe }}</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <h3>Brevets</h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                <h3>Publications</h3>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8">
            <div class="col-lg-12 equipeDetailTitle">
                <h1>{{ equipe.nomEquipe }}</h1>
                <p>Mots clés de l'équipe</p>
            </div>
            <div class="col-lg-12 equipeDetailResume">
                <p>{{ equipe.descriptionequipe }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}