{% extends 'base.html.twig' %}

{% block contenu  %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 filtersDisplay">
                <div id="filter" class="filterCol" data-spy="" data-offset-top="">

                </div>
            </div>
            <div class="col-lg-5 equipesDisplay">
                <div class="col-lg-12 equipeRow">
                    {% for key, publication in publications %}
                        <div class="panel-assembly">
                            <div class="panel {{ random(['panel-primary','panel-success','panel-warning','panel-default','panel-info','panel-danger']) }}">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <h4>{{ publication.message.title.0 }}<span class="pull-right auteurDate">{{ publication.message.indexed.timestamp|date('d-m-y')}} {# ~' / ' ~ publication.message.indexed.date-parts.0.2 ~ ' / ' ~ publication.message.indexed.date-parts.0.0 #}</span></h4>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <h3>Sujet :</h3>
                                        <p>{{ publication.message.subject.0 ~' | '~publication.message.subject.1 }}</p>
                                    <h3>Auteurs :</h3>
                                        <ul class="list-inline">
                                            {% for author in publication.message.author %}
                                                    <li>{{ author.given ~ author.family }}</li>
                                            {% endfor %}
                                        </ul>
                                    <h3>DOI :</h3>
                                        <p>{{ publication.message.DOI }}</p>
                                    <a href="{{ publication.message.URL }}" target="_blank">Lien vers l'article</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}