

    {% block head %}
<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <link rel="stylesheet" href="{{ asset('font-awesome-4.6.3/css/font-awesome.min.css')}}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('style/stylenavbar.css')}}">
            <link rel="stylesheet" href="{{ asset('style/style.css')}}">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="{{ asset('style/custom.js')}}"></script>
            <title>Page D'aministration - GDR3625</title>
        </head>
        <body>
    {% endblock %}


{% block banniere %}

<header>
    <div class="row">
        <div class="col-lg-12">
            <div class="banniere">
                <!--image banniere -->
                <img src='{{ asset("images/banniere.jpg")}}' alt="banniere_cnrs" class="img-responsive") >
            </div>
        </div>
    </div>
{% endblock %}

{%  block navbar %}
    {%  include "navBarUtilisateur_backoffice.html.twig" %}
{% endblock %}

{%  block contenu %}{% endblock %}

{% block footer %}
        <footer class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!--partie modal mentions légales  -->
                    <ul id="mentions" class="text-center list-inline">
                        <li>
                            <a  data-toggle="modal" data-target="#modalMentions">Mentions légales</a>
                            <div id="modalMentions" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modaleDesMentionsLegales">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <p>Mentions légales</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a  data-toggle="modal" data-target="#modalContact">Contact</a>
                            <div id="modalContact" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modaleDuContact">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a  data-toggle="modal" data-target="#localize">Siège</a>
                            <div id="localize" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLocaliserNous">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <p>...</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <!--image logo ecole -->
                            <a href="http://www.wildcodeschool.fr" target="_blank"><img id="logowcs" src='{{ asset("images/logo_wcs.jpg")}}' alt="logo WCS" class="img-responsive"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
{% endblock %}



