{% extends 'base.html.twig' %}

{% block contenu  %}
    <div class="equipeDetail">
        <div class="row">
            <div class="col-md-4 col-lg-4 actuDetailDate">
                <div class="panel-group" id="actuAccordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default panel-primary">
                        <div class="panel-heading" role="tab">
                            <a class="aNews" role="button" data-toggle="collapse" data-parent="#actuAccordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <div class="text-center">
                                    <h3>Détail de l'actualité N° {{ fluxes.id }}</h3>
                                </div>
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="table-responsive">
                                <table class="table table-striped table-condensed">
                                    <tbody>
                                    <tr>
                                        <td>
                                            publication {{ fluxes.datePublication | date('d-m-Y')}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-primary">
                        <div class="panel-heading" role="tab">
                            <a class="aNews" role="button" data-toggle="collapse" data-parent="#actuAccordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                <div class="text-center">
                                    <h3>Mots clés</h3>
                                </div>
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="table-responsive">
                                <table class="table table-striped table-condensed">
                                    <tbody>
                                        {%  for key, k in fluxes.keywordsFlux%}
                                            <tr>
                                                <td class="text-left">
                                                    {{ k.keyword }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-offset-1 col-md-7 col-lg-7">
                <div>
                    <h1>{{ fluxes.titre }}</h1>
                    <div class="actuContent">{{ fluxes.contenu| raw }}</div>
                </div>
            </div>
        </div>
    </div>
{%  endblock  %}