{% block head %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Groupe De Recherche MultiFonction des Peptides AntiMicrobiens">
        <meta name="keywords" content="peptides,antimicrobiens,groupe de recherche,CNRS,recherche,mufopam">
        <link rel="stylesheet" href="{{ asset('font-awesome-4.6.3/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{ asset('style/bootstrap/css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{ asset('style/jquery-ui-1.12.1/jquery-ui.min.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('dist/summernote.css')}}">
        <link rel="stylesheet" href="{{ asset('style/style.css')}}">
        <link rel="icon" type="image/png" href="{{ asset("images/fleche.png") }}">
        <script src="{{ asset('style/jquery/jquery-3.1.1.min.js')}}"></script>
        <script src="{{ asset('js/jquery.tablesorter/jquery.tablesorter.min.js')}}"></script>
        <script src="{{ asset('style/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('style/jquery-ui-1.12.1/jquery-ui.js') }}"></script>
        <script src="{{ asset('js/custom.js')}}"></script>
        <script src="{{ asset('dist/summernote.min.js')}}"></script>
        <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
        <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
        <title>GDR3625 MuFoPAM - « MultiFonction des Peptides AntiMicrobiens »</title>
    </head>
    <body>
        {% endblock %}
            {% block banniere %}
            <header>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="{{ path("accueil") }}">
                            <div class="banniere">
                                <!--image banniere -->
                                <img src="{{ asset("images/banniere.jpg")}}" alt="banniere avec les logos du cnrs et du mufopam" class="img-responsive">
                            </div>
                        </a>
                        {% for flash_message in app.session.flashBag.get('success') %}
                            <div class="fade in alert-message alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                        {% for flash_message in app.session.flashBag.get('warning') %}
                            <div class="fade in alert-message alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                        {% for flash_message in app.session.flashBag.get('danger') %}
                            <div class="fade in alert-message alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endblock %}
            {%  block navbar %}
                {%  include "Gdr3625BackofficeBundle::navBarUtilisateur.html.twig" %}
            {% endblock %}
            <main>
            {%  block contenu %}
                {% include "Gdr3625BackofficeBundle::new_accueil.html.twig" %}
            {% endblock %}
            </main>
            <a href="#" class="back-to-top"><i class="fa fa-chevron-circle-up"></i></a>
            {%  include "Gdr3625BackofficeBundle::footer.html.twig" %}
    </body>
</html>