{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1>Publications creation</h1>
<div class="well">
    {{ form_start(form) }}
    <div class="groupequipformulaire">
        <div class="row">
            <div class="form-group">
                {{ form_label(form.doi, "D.O.I", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-4 col-lg-4">
                    {{ form_widget(form.doi, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-sm-4 col-lg-4">
                    <a class="btn btn-default" href="{{ path('publication_generate', {'doi':'toto'}) }}">Générer la Publication</a>
                </div>
            </div>
        </div>
        <input type="submit" value="Créer"/>
    {{ form_end(form) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('publications_index') }}">Retour à la liste</a>
        </li>
    </ul>
</div>
{% endblock %}
