{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1>Création de publication</h1>
<div class=" container well">
    {{ form_start(form) }}
    <div class="groupequipformulaire">
        <div class="row">
            <div class="form-group">
                {{ form_label(form.doi, "D.O.I", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-4 col-lg-4">
                    {{ form_widget(form.doi, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-sm-4 col-lg-4">
                    <a class="btn btn-default" href="{{ path('publication_generate', {'doi':'toto'}) }}">Générer la Publication</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-3">
                <li class="groupequipformulaire  boutonEdit ">
                    <button type="submit" class="btn btn-success btn-lg"><h4>Créer</h4></button>
                </li>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
    <ul class="boutonCenter">
        <li class="BoutonTableShow">
            <a href="{{ path('publications_index') }}"><button type="button" class="btn btn-default btn-lg"><h4>Retourner à la liste</h4></button></a>
        </li>
    </ul>

{% endblock %}
