{% extends 'base.html.twig' %}

{% block contenu %}
    <h1>Publications</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publication.id }}</td>
            </tr>
            <tr>
                <th>Doi</th>
                <td>{{ publication.doi }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('publications_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('publications_edit', { 'id': publication.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
