{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1 class="text-center titretable">Mot clés</h1>
    <div class="container">
        <table class="table table-striped table-bordered table-condensed ">
            <tbody>
            <tr>
                <th class="thtable2 text-center">N°</th>
                <td class="tdtable2">{{ keyword.id }}</td>
            </tr>
            <tr>
                <th class="thtable2 text-center">Mot clés</th>
                <td class="tdtable2">{{ keyword.keyword }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <ul class="boutonCenter">
        <li class="BoutonTableShow ">
            <a class="btn btn-default btn-lg btnForm" href="{{ path('keywords_index') }}">Retourner à la liste</a>
        </li>
        <li class="BoutonTableShow ">
            <a class="btn btn-success btn-lg btnForm" href="{{ path('keywords_edit', { 'id': keyword.id }) }}">Editer</a>
        </li>
        <li class="BoutonTableShow ">
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger btn-lg btnForm">Supprimer</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
