{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1>User creation</h1>

<div class="well">
    {{ form_start(form) }}
    <div class="groupequipformulaire">
        <div class="row">
            <div class="form-group">
                {{ form_label(form.username, "Nom de l'utilisateur", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-4">
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                {{ form_label(form.id, "id", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form.id, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="groupequipformulaire">
        <input type="submit" value="Create" />
    </div>

    {{ form_end(form) }}

</div>
<div>
    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
{% endblock %}
