{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1>Brevets edit</h1>


    <div class="well">
        {{ form_start(edit_form) }}
        <div class="groupequipformulaire">
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.brevet, "Brevet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-8 ">
                        {{ form_widget(edit_form.brevet, {'attr': {'class': 'form-control brevetAreaTaille'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <li class="groupequipformulaire">
            <input type="submit" value="Editer" />
        </li>

        {{ form_end(edit_form) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('brevets_index') }}">Retour à la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
