{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1 class="titretable">Listes des brevets</h1>
      <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Brevet</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for brevet in brevets %}
                <tr>
                    <td><a href="{{ path('brevets_show', { 'id': brevet.id }) }}">{{ brevet.id }}</a></td>
                    <td>{{ brevet.brevet }}</td>
                    <td>
                        <ul>
                            <li class="puceaenlever">
                                <a href="{{ path('brevets_show', { 'id': brevet.id }) }}"><button type="button" class="boutontable btn btn-info btn-lg">Show</button></a>
                            </li>
                            <li class="puceaenlever">
                                <a href="{{ path('brevets_edit', { 'id': brevet.id }) }}"><button type="button" class="boutontable btn btn-warning btn-lg">Edit</button></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    <ul>
        <li class="puceaenlever creation">
            <a href="{{ path('brevets_new') }}"><button type="button" class="btn btn-success btn-lg"> Créer une nouveau brevet </button></a>
        </li>
    </ul>
{% endblock %}
