{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1>Création de brevets</h1>
    <div class=" container well">
        {{ form_start(form) }}
        <div class="groupequipformulaire">
            <div class="row">
                <div class="form-group" >
                    {{ form_label(form.brevet, "Brevet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.brevet, {'attr': {'class': 'form-control brevetAreaTaille', 'placeholder': "Brevet"}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-briefcase iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-3">
                <li class="groupequipformulaire  boutonEdit ">
                    <button type="submit" class="btn btn-success btn-lg btnForm">Créer</button>
                </li>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
    <div>
        <ul class="list-inline text-center">
            <li>
                <a class="btn btn-default btn-lg btnForm" href="{{ path('brevets_index') }}">Retourner à la liste</a>
            </li>
        </ul>
    </div>
{% endblock %}
