{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1>Brevets creation</h1>

<div class="well">
    {{ form_start(form) }}
    <div class="groupequipformulaire">
        <div class="row">
            <div class="form-group" >
                {{ form_label(form.brevet, "Brevet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(form.brevet, {'attr': {'class': 'form-control brevetAreaTaille'}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="groupequipformulaire">
        <input type="submit" value="Créer" />
    </div>

    {{ form_end(form) }}
</div>
<div>
    <ul>
        <li>
            <a href="{{ path('brevets_index') }}">Retour à la liste</a>
        </li>
    </ul>
</div>
{% endblock %}
