{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1>Création de brevets</h1>

<div class="well">
    {{ form_start(form) }}
    <div class="groupequipformulaire">
        <div class="row">
            <div class="form-group" >
                {{ form_label(form.brevet, "Brevet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(form.brevet, {'attr': {'class': 'form-control brevetAreaTaille', 'placeholder': "Brevet"}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3">
            <li class="groupequipformulaire  boutonEdit ">
                <button type="submit" class="btn btn-success btn-lg"><h4>Créer</h4></button>
            </li>
        </div>
    </div>

    {{ form_end(form) }}
</div>
<div>
    <ul class="boutonCenter">
        <li class="BoutonTableShow">
            <a href="{{ path('brevets_index') }}"><button type="button" class="btn btn-default btn-lg"><h4>Retourner à la liste</h4></button></a>
        </li>
    </ul>
</div>
{% endblock %}
