{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1 class="text-center titretable">Brevet</h1>
    <div class="container">
        <table class="table table-striped table-bordered table-condensed ">
            <tbody>
                <tr>
                    <th class="thtable2 text-center">N°</th>
                    <td class="tdtable2">{{ brevet.id }}</td>
                </tr>
                <tr>
                    <th class="thtable2 text-center">Brevet</th>
                    <td class="tdtable2">{{ brevet.brevet }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul class="list-inline text-center">
        <li>
            <a class="btn btn-default btn-lg btnForm" href="{{ path('brevets_index') }}">Retourner à la liste</a>
        </li>
        <li>
            <a class="btn btn-success btn-lg btnForm" href="{{ path('brevets_edit', { 'id': brevet.id }) }}">Editer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger btn-lg btnForm">Supprimer</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
