{% extends 'base.html.twig' %}

{% block body %}
    <h1>Equipes_Keywords list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Idequipes</th>
                <th>Idkeywords</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipes_Keyword in equipes_Keywords %}
            <tr>
                <td><a href="{{ path('equipes_keywords_show', { 'id': equipes_Keyword.id }) }}">{{ equipes_Keyword.id }}</a></td>
                <td>{{ equipes_Keyword.idEquipes }}</td>
                <td>{{ equipes_Keyword.idKeywords }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('equipes_keywords_show', { 'id': equipes_Keyword.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
