{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1>Equipes_Publications list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Id publications</th>
                <th>Id equipes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipes_Publication in equipes_Publications %}
            <tr>
                <td><a href="{{ path('equipes_publications_show', { 'id': equipes_Publication.id }) }}">{{ equipes_Publication.id }}</a></td>
                <td>{{ equipes_Publication.idPublications }}</td>
                <td>{{ equipes_Publication.idEquipes }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('equipes_publications_show', { 'id': equipes_Publication.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
