{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1 class="text-center titretable">Edition d'actualité</h1>
    <div class="container well">
        {{ form_start(edit_form) }}
        <div class="groupequipformulaire">
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.titre, "Titre", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(edit_form.titre, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-tag iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.contenu, "Contenu", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(edit_form.contenu, {'attr': {'class': 'form-control txtArea'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-file-text-o iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.datePublication, "Date de publication", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(edit_form.datePublication, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-calendar iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.typeFlux, "Type flux", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(edit_form.typeFlux, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-tachometer iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-3">
                <div class="groupequipformulaire boutonEdit click2edit">
                    <button type="submit" class="btn btn-success btn-lg btnForm">Enregistrer</button>
                </div>
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>
    <ul class="list-inline text-center">
        <li>
            <a class="btn btn-default btn-lg btnForm" href="{{ path('flux_index') }}">Retourner à la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                 <button type="submit" class="btn btn-danger btn-lg btnForm">Supprimer</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
