{% extends 'base_backoffice.html.twig'%}

{% block contenu %}
    <div class="container">
            <h1 class="text-center titretable">Liste des actualités</h1>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 text-right">
                    <a class="btn btn-success btn-lg btnForm" href="{{ path('flux_new') }}">Créer une actualité</a>
                </div>
            </div>
            <div class="table-responsive" >
                <table class="table table-striped table-bordered table-condensed tableSorter">
                    <thead>
                        <tr>
                            <th class="thtable">Date de publication</th>
                            <th class="thtable">Titre</th>
                            <th class="thtable">Type d'actualités</th>
                            <th class="thtable">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for flux in fluxes %}
                        <tr>
                            <td class="tdtable">{% if flux.datePublication %}{{ flux.datePublication|date('Y-m-d') }}{% endif %}</td>
                            <td class="tdtable">{{ flux.titre | truncate(110,true,' (...) ') }}</td>
                            <td class="tdtable">{{ flux.typeFlux }}</td>
                            <td class="tdtable puces">
                                <ul>
                                    <li class="puceaenlever">
                                        <a class="colorInherit" href="{{ path('flux_show', { 'id': flux.id }) }}"><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="puceaenlever">
                                        <a class="colorInherit" href="{{ path('flux_edit', { 'id': flux.id }) }}"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
{% endblock %}
