{% extends 'base_backoffice.html.twig'%}

{% block contenu %}
    <div class="container">
            <h1 class="titretable">Liste des actualités</h1>
            <div class="table-responsive" >
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th class="thtable">Id</th>
                            <th class="thtable">Titre</th>
                            <th class="thtable">Contenu</th>
                            <th class="thtable">Date de publication</th>
                            <th class="thtable">Type de flux</th>
                            <th class="thtable">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for flux in fluxes %}
                        <tr>
                            <td class="tdtable">{{ flux.id }} </td>
                            <td class="tdtable">{{ flux.titre }}</td>
                            <td class="tdtable">{{ flux.contenu | truncate(300,true,' (...) ') }}</td>
                            <td class="tdtable">{% if flux.datePublication %}{{ flux.datePublication|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td class="tdtable">{{ flux.typeFlux }}</td>
                            <td class="tdtable puces">
                                <ul>
                                    <li class="puceaenlever">
                                        <a class="colorInherit" href="{{ path('flux_show', { 'id': flux.id }) }}"><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="puceaenlever">
                                        <a class="colorInherit" href="{{ path('flux_edit', { 'id': flux.id }) }}"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
    <ul>
        <li class="creation">
            <a href="{{ path('flux_new') }}"><button type="button" class="btn btn-success btn-lg"> <h4> Créer une nouvelle actualité </h4> </button> </a>
        </li>
    </ul>
{% endblock %}
