{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1 class="text-center titretable">Création d'actualité</h1>
    <div class="container well">
        {{ form_start(form) }}
        <div class="groupequipformulaire">
            <div class="row">
                <div class="form-group">
                    {{ form_label(form.titre, "Titre", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-8">

                        {{ form_widget(form.titre, {'attr': {'class': 'form-control', 'placeholder': "Titre"}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-tag iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="form-group">
                    {{ form_label(form.contenu, "Contenu", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.contenu, {'attr': {'class': 'form-control txtArea', 'placeholder': "Contenu"}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-file-text-o iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(form.datePublication, "Date de publication", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                    <div class="col-sm-8">
                        {{ form_widget(form.datePublication, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-calendar iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(form.typeFlux, "Type flux", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.typeFlux, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-tachometer iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="form-group">
                    {{ form_label(form.keywordsFlux, "Mots clés", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <a href="#" class="col-sm-1 add-another-keyword"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-8">
                        {# store the prototype on the data-prototype attribute #}
                        <ul id="new-flux-fields-list" class="list-inline" data-prototype="{{ form_widget(form.keywordsFlux.vars.prototype)|e }}">
                            {{ form_widget(form.keywordsFlux) }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-3">
                <div class="groupequipformulaire boutonEdit ">
                    <button type="submit" class="btn btn-success btn-lg btnForm">Créer</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <ul class="list-inline text-center">
        <li>
            <a class="btn btn-default btn-lg btnForm" href="{{ path('flux_index') }}">Retourner à la liste</a>
        </li>
    </ul>
    <script>
        // keep track of how many email fields have been rendered
        var keywordCount = '{{ form.keywordsFlux|length }}';

        jQuery(document).ready(function() {
            jQuery('.add-another-keyword').click(function(e) {
                e.preventDefault();

                var keywordList = jQuery('#new-flux-fields-list');

                // grab the prototype template
                var newWidget = keywordList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, keywordCount);
                keywordCount++;

                // create a new list element and add it to the list
                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.appendTo(keywordList);
            });
        })

    </script>
{% endblock %}
