{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1 class="text-center titretable">Actualité</h1>
    <div class="container">
        <table class="table table-striped table-bordered table-condensed ">
            <tbody>
                <tr>
                    <th class="thtable2 text-center">N°</th>
                    <td class="tdtable2">{{ flux.id }}</td>
                </tr>
                <tr>
                    <th class="thtable2 text-center">Titre</th>
                    <td class="tdtable2">{{ flux.titre }}</td>
                </tr>
                <tr>
                    <th class="thtable2 text-center">Contenu</th>
                    <td class="tdtable2">{{ flux.contenu | raw}}</td>
                </tr>
                <tr>
                    <th class="thtable2 text-center">Date de publication</th>
                    <td class="tdtable2">{% if flux.datePublication %}{{ flux.datePublication|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th class="thtable2 text-center">Type d'actualité</th>
                    <td class="tdtable2">{{ flux.typeFlux }}</td>
                </tr>
                <tr>
                    <th class="thtable2 text-center">Mots Clés</th>
                    <td class="tdtable2">
                        {% for key, keywords in flux.keywordsFlux %}
                            {{ keywords.keyword }}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul class="list-inline text-center">
        <li>
            <a class="btn btn-default btn-lg btnForm" href="{{ path('flux_index') }}">Retourner à la liste</a>
        </li>
        <li>
            <a class="btn btn-success btn-lg btnForm click2edit" href="{{ path('flux_edit', { 'id': flux.id }) }}">Editer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger btn-lg btnForm">Supprimer</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
