{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1>Edition d'équipes</h1>
    <div class="container well">
        {{ form_start(edit_form) }}
        <div class="groupequipformulaire">
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.nomEquipe, "Nom de l'équipe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.nomEquipe, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-gitlab iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.laboratoire, "Laboratoire", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.laboratoire, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-university iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="groupequipformulaire">
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.rue, "Rue", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.rue, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-road iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.cp, "Code postal", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.cp, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-ellipsis-h iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.ville, "Ville", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.ville, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-building iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="groupequipformulaire">
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.codeUnite, "Code unité", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.codeUnite, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-language iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.tutelle, "Tutelle", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.tutelle, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-male iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.siteWebEquipe, "Site internet équipe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.siteWebEquipe, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-internet-explorer iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.siteWebLabo, "Site internet labo", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.siteWebLabo, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-internet-explorer iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="groupequipformulaire">
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.nomReferent, "Nom référent", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.nomReferent, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-male iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.prenomReferent, "Prénom référent", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.prenomReferent, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-male iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.emailReferent, "Email référent", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.emailReferent, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-envelope iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.telephoneReferent, "Téléphone référent", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.telephoneReferent, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-phone iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="groupequipformulaire">
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.recherche, "Recherche", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.recherche, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-search iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.projet, "Projet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.projet, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-first-order iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.descriptionEquipe, "Description équipe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.descriptionEquipe, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="fa fa-file-text-o iconLeft" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-4 imgEquipeEdit">
                    <img class="equipeLogo" src="{{ '../../../' ~ equipe.logo }}"/>
                </div>
                <div class="col-sm-1">
                    <i class="fa fa-file-image iconLeft" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.logo, "Enregister un nouveau logo", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.logo) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-3">
                <div class="groupequipformulaire boutonEdit">
                    <button type="submit" class="btn btn-success btn-lg btnForm">Enregistrer</button>
                </div>
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>
    <ul class="list-inline text-center">
        <li>
            <a class="btn btn-default btn-lg btnForm" href="{{ path('equipe_index') }}">Retourner à la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger btn-lg btnForm">Supprimer</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
