{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1 class="text-center titretable">Edition d'équipes</h1>
    <div class="container well">
        {{ form_start(edit_form) }}
        <div class="groupequipformulaire">
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.nomEquipe, "Nom de l'équipe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.nomEquipe, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.laboratoire, "Laboratoire", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.laboratoire, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="groupequipformulaire">
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.rue, "Rue", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.rue, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.cp, "Code postal", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.cp, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.ville, "Ville", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.ville, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="groupequipformulaire">
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.codeUnite, "Code unité", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.codeUnite, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.tutelle, "Tutelle", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.tutelle, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.siteWebEquipe, "Site internet équipe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.siteWebEquipe, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.siteWebLabo, "Site internet labo", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.siteWebLabo, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="groupequipformulaire">
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.nomReferent, "Nom référent", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.nomReferent, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.prenomReferent, "Prénom référent", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.prenomReferent, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.emailReferent, "Email référent", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.emailReferent, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.telephoneReferent, "Téléphone référent", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.telephoneReferent, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="groupequipformulaire">
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.recherche, "Recherche", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.recherche, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.projet, "Projet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.projet, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.descriptionEquipe, "Description équipe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.descriptionEquipe, {'attr': {'class': 'form-control txtArea'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-sm-offset-3 col-sm-4 imgEquipeEdit equipeDetailLogo">
                        <img class="img-responsive" src="{{ equipe.logo }}" alt=""/>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.keywordsEquipe, "Mots clés de l'équipe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <a href="#" class="col-sm-1 add-another-keyword"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                    <div class="col-sm-4">
                        {# store the prototype on the data-prototype attribute #}
                        <ul id="keyword-fields-list" class="list-inline" data-prototype="{{ form_widget(edit_form.keywordsEquipe.vars.prototype)|e }}">
                            {% for key, keywords in edit_form.keywordsEquipe %}
                                <li>
                                    {{ form_errors(keywords) }}
                                    {{ form_widget(keywords) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {#<div class="row">
                <div class="form-group">
                    {{ form_label(edit_form.logo, "Logo", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(edit_form.logo) }}
                    </div>
                </div>
            </div>#}
        </div>
        <div class="row">
            <div class="col-sm-offset-3">
                <div class="groupequipformulaire boutonEdit  ">
                    <button type="submit" class="btn btn-success btn-lg btnForm">Enregistrer</button>
                </div>
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>

    <ul class="list-inline text-center">
        <li class="BoutonTableShow">
            <a class="btn btn-default btn-lg btnForm" href="{{ path('equipe_index') }}">Retourner à la liste</a>
        </li>
        <li class="BoutonTableShow">
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger btn-lg btnForm">Supprimer</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <script>
        // keep track of how many email fields have been rendered
        var keywordCount = '{{ edit_form.keywordsEquipe|length }}';

        jQuery(document).ready(function() {
            jQuery('.add-another-keyword').click(function(e) {
                e.preventDefault();

                var keywordList = jQuery('#keyword-fields-list');

                // grab the prototype template
                var newWidget = keywordList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, keywordCount);
                keywordCount++;

                // create a new list element and add it to the list
                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.appendTo(keywordList);
            });
        })

    </script>
{% endblock %}
