{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1>Equipe list</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom de l'équipe</th>
                    <th>Nom référent</th>
                    <th>Prenom référent</th>
                    <th>Email référent</th>
                    <th>Téléphone référent</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for equipe in equipes %}
                <tr>
                    <td><a href="{{ path('equipe_show', { 'id': equipe.id }) }}">{{ equipe.id }}</a></td>
                    <td>{{ equipe.nomEquipe }}</td>
                    <td>{{ equipe.nomReferent }}</td>
                    <td>{{ equipe.prenomReferent }}</td>
                    <td>{{ equipe.emailReferent }}</td>
                    <td>{{ equipe.telephoneReferent }}</td>
                    <td>
                        <ul>
                            <li class="puceaenlever">
                                 <a  href="{{ path('equipe_show', { 'id': equipe.id }) }}"> <button type="button" class="btn btn-info">Show</button></a>

                            </li>
                            <li class="puceaenlever">
                                 <a id="equipedit" href="{{ path('equipe_edit', { 'id': equipe.id }) }}"><button type="button" class="btn btn-warning">Edit</button></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <ul>
        <li>
            <a href="{{ path('equipe_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
