{% extends 'base_backoffice.html.twig' %}

{% block contenu %}
    <h1>Equipe</h1>
        <div class="container-fluid">
            <table class="table table-striped table-bordered table-condensed ">
                <tbody>
                    <tr>
                        <th class="thtable2">Id</th>
                        <td class="tdtable2">{{ equipe.id }}</td>
                    </tr>
                    <tr>
                        <th class="thtable2">Nom équipe</th>
                        <td class="tdtable2">{{ equipe.nomEquipe }}</td>
                    </tr>
                    <tr>
                        <th class="thtable2">Laboratoire</th>
                        <td class="tdtable2">{{ equipe.laboratoire }}</td>
                    </tr>
                    <tr>
                        <th class="thtable2">Rue</th>
                        <td class="tdtable2">{{ equipe.rue }}</td>
                    </tr>
                    <tr>
                        <th class="thtable2">Cp</th>
                        <td class="tdtable2">{{ equipe.cp }}</td>
                    </tr>
                    <tr>
                        <th class="thtable2">Ville</th>
                        <td class="tdtable2">{{ equipe.ville }}</td>
                    </tr>
                    <tr>
                        <th class="thtable2">Code unité</th>
                        <td class="tdtable2">{{ equipe.codeUnite }}</td>
                    </tr>
                    <tr>
                        <th class="thtable2">Tutelle</th>
                        <td class="tdtable2">{{ equipe.tutelle }}</td>
                    </tr>
                    <tr>
                        <th class="thtable2">Site web de l'équipe</th>
                        <td class="tdtable2">{{ equipe.siteWebEquipe }}</td>
                    </tr>
                    <tr>
                        <th class="thtable2">Site web du laboratoire</th>
                        <td class="tdtable2">{{ equipe.siteWebLabo }}</td>
                    </tr>
                    <tr>
                        <th class="thtable2">Nom référent</th>
                        <td class="tdtable2">{{ equipe.nomReferent }}</td>
                    </tr>
                    <tr>
                        <th class="thtable2">Prénom référent</th>
                        <td class="tdtable2">{{ equipe.prenomReferent }}</td>
                    </tr>
                    <tr>
                        <th class="thtable2">Email référent</th>
                        <td class="tdtable2">{{ equipe.emailReferent }}</td>
                    </tr>
                    <tr>
                        <th class="thtable2">Telephone référent</th>
                        <td class="tdtable2">{{ equipe.telephoneReferent }}</td>
                    </tr>
                    <tr>
                        <th class="thtable2">Recherche</th>
                        <td class="tdtable2">{{ equipe.recherche }}</td>
                    </tr>
                    <tr>
                        <th class="thtable2">Projet</th>
                        <td class="tdtable2">{{ equipe.projet }}</td>
                    </tr>
                    <tr>
                        <th class="thtable2">Description de l'équipe</th>
                        <td class="tdtable2">{{ equipe.descriptionEquipe }}</td>
                    </tr>
                    <tr>
                        <th class="thtable2">Logo</th>
                        <td class="tdtable2">{{ equipe.logo }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ul class="boutonCenter">
            <li class="BoutonTableShow ">
                <a href="{{ path('equipe_index') }}"><button type="button" class="btn btn-default btn-lg"><h4>Retourner à la liste</h4></button></a>
            </li>
            <li class="BoutonTableShow ">
                <a href="{{ path('equipe_edit', { 'id': equipe.id }) }}"><button type="button" class="btn btn-success btn-lg"><h4>Editer</h4></button></a>
            </li>
            <li class="BoutonTableShow ">
                {{ form_start(delete_form) }}
                         <button type="button" class="btn btn-danger btn-lg"><h4>Supprimer</h4></button>
                {{ form_end(delete_form) }}
            </li>
        </ul>
{% endblock %}
